<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <title>MyBook Login</title>
        <style>
            body{
                background-color: #8389de;
            }
            .form-container {
                margin-top: 100px;
                margin-right: 50px;
            }
            .form-control{
                border: 3px solid #000;
                border-radius: 0%;       
            }
            .form-label{
                font-weight: bold;
                border: 3px solid #000;
                border-radius: 0%;
            }
            .btn {
                border: 3px solid #000;
                border-radius: 0%;
                color:#000;
                margin-left: 150px;         
            }
            .logo-container {
                position: absolute;
                top: 0;
                left: 0;
                padding: 20px;
                transform: scale(0.5);
            }
        </style>
    </head>
    <body>
        <div class="logo-container">
            <img src="logo.png" alt="Logo">
        </div>
        <div class="container">
                <div class="col-md-6 offset-md-6 form-container">
                    <form method="post" action="/">
                        <div class="form-group row">
                            <div class="form-label col-4 text-center bg-light">
                                <label for="username">Username:</label>
                            </div>
                            <div class="m-3"></div>
                            <div>
                                <input type="text" class="form-control col-10" id="username"  name='username' placeholder="Enter username">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-label col-4 text-center bg-light">
                                <label for="password">password:</label>
                            </div>
                            <div class="m-3"></div>
                            <div>
                                <input type="password" class="form-control col-10" id="password" name='password' placeholder="Enter password">
                            </div>
                        </div>
                        <button type="submit" class="mt-4 offset-3 btn bg-light">Log in</button>
                    </form>
                    
                </div>  
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>